<div class='row'>
  <div class='col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 sidebar' style='text-align:center' id='query_container'>
    <div class="input-group">
      <span class="input-group-addon">BoardId</span>
      <input ng-model='boardId' type="text" class="form-control" placeholder="BoardId">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" style='margin-right:0px'>{{choice}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu" style='cursor:pointer'>
          <li><a ng-click='changeChoice("keepalive")'>keepalive</a></li>
          <li><a ng-click='changeChoice("session")'>session</a></li>
          <li><a ng-click='changeChoice("resource")'>resource</a></li>
        </ul>
      </div>
      <input ng-model='sequence' type="text" class="form-control" placeholder="sequence" ng-show='choice=="resource"' style='width:100px'>
    </div>
    <button ng-click="redoJob(boardId,choice,sequence)" class="btn btn-default submitButton">Submit</button>
  </div>
        <div id="sidebar-resizer" ng-show="showdetail" resizer="vertical" resizer-left="#query_container" resizer-right='#renderjson' class='col-sm-offset-5 col-md-offset-5 resizer'></div>
  <div class='col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5 main' ng-show='showdetail' id='renderjson'>
    <div></div>
  </div>
</div>
