<div class='row'>
  <div id='query_container' class='col-sm-4 col-sm-offset-1 col-md-4 col-md-offset-1 sidebar' style='text-align:center'>
    <div class="input-group">
      <span class="input-group-addon">Recenter the Map</span>
      <input id='autocomplete' ng-model='address' type="text" class="form-control" placeholder="address">
    </div>
	<br>
	<div id="points_location"></div>
	<div id="wiki"><p>Press on a satellite marker on the right for more information!</p></div>
	<div id="filters">

<!--TODO: Name -->
<input type="radio" name="filtertype" value="name" checked>
<u>Filter by Satellite Name</u>: <br>
<input type="text" name="name">
<br>
<input type="radio" name="filtertype" value="range" checked>
<u>Filter by Coordinate Range</u>: <br>
Lattitude (between -90 and 90):
<br>
<input type="number" name="minLat" min="-90" max="90">
<input type="number" name="maxLat" min="-90" max="90">
<br>
Longitude (between 0 and 360)
<br>
<input type="number" name="minLon" min="0" max="360">
<input type="number" name="maxLon" min="0" max="360">
<br>
<br>
<input type="radio" name="filtertype" value="distance" checked>
<u> Radius from a point </u>: <br>
Lat/Lon [-90, 90], [0, 360]:
<br>
<input type="number" name="maxLat" min="-90" max="90">
<input type="number" name="maxLon" min="0" max="360">
<br>
Radius
<br>
<input type="number" name="radius" min="0" max="400">
<br>
<br>
<input type="radio" name="filtertype" value="none" checked> No Filters
<br>
<input type="button" value="Submit" onclick="filter_aux()">
  </div>
</div>
  <div id='renderjson' class='col-sm-7 col-sm-offset-5 col-md-7 col-md-offset-5 sidebar'>
    <div id='map-canvas' style='height:100%'></div>
  </div>
</div>
